

.elevator-shaft-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
    width: 200px;
    height: 650px;

    border: 1px solid red;
}